.button {
    background-color: #3f51b5;
    border-radius: 40px;
    width: 100%;
    height: 32px;
    color: #fff;
    font-size: 16px;
    border: 0;
    padding: 12px 0px 28px 0px;
}

.button:hover {
    background-color: #303f9f;
}

.inputField {
    width: 100%;
    padding: 16px 8px 16px 16px;
    font-size: 16px;
    border: 1px solid #c3c1c1;
    border-radius: 8px;
    width: -webkit-fill-available;
    outline-color: #3f51b5;
}

.inputField:hover {
    border-color: black;
}

/* For create task board and login screen */

.newTaskBoard,.loginScreen{
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}
.loginScreen{
    width: 400px;
}
/*                    */


.taskCard {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 16px;
}

.taskCardHeader {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

/* .beforeTaskCard{
    background-color: grey;
    padding: 0px 24px 0px 24px;
    height: 100vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.textFieldcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.taskCardRootContainer {
    width: 100%;
    padding: 16px;
    background-color: #eee;
}

.taskCardContainer {

    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
/* for create-task-board and rootLoginScreen */
.createTaskBoard,.rootLoginScreen,.empty-screen-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

/*  */


.screen-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Custom modal styels */

.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: .3s linear;
    transform: scale(.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom-modal.is-open{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  .custom-modal.is-closed {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    padding: 1em 2.5em;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease-in-out;
    transform: translate(-50%, -50%);
}

.custom-modal-container{
    height: 540px;
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.custom-modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    margin: 8px;
    flex: 1;
}
.custom-modal-close{
    width: fit-content;
    cursor: pointer;
    padding: 4;
    align-self: flex-end;
  }


  /* loader */

  .loading{
    height: 0;
    width: 0;
    padding: 12px;
    border: 4px solid #ccc;
    border-right-color: #3b4eb9;
    border-radius: 22px;
    animation: rotate 1s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  /* ***************************** */