/* Headings */
.heading {
    font-size: 32px;
    font-weight: 400;
}

.heading-main {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
}

/*  */


.button {
    background-color: #3f51b5;
    border-radius: 40px;
    width: 100%;
    height: 32px;
    color: #fff;
    font-size: 16px;
    border: 0;
    padding: 12px 0px 28px 0px;
}

.button:hover {
    background-color: #303f9f;
}

.inputField {
    width: 100%;
    padding: 16px 8px 16px 16px;
    font-size: 16px;
    border: 1px solid #c3c1c1;
    border-radius: 8px;
    width: -webkit-fill-available;
    outline-color: #3f51b5;
}

.inputField:hover {
    border-color: black;
}

/* For create task board and login screen */

.newTaskBoard,
.loginScreen {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}

.loginScreen {
    width: 400px;
}

/*                    */

/* Task Card */
.taskCard {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 16px;
}

.taskCardHeader {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.horizontal-line {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.12);
    margin: 12px 0px;
}

.taskCardRootContainer {
    width: 100%;
    padding: 16px;
    background-color: #eee;
}

.taskCardContainer {

    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/*  */

.textFieldcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

/* for create-task-board and rootLoginScreen */
.createTaskBoard,
.rootLoginScreen,
.empty-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

/*  */


.screen-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.handleClickNavigateContainer {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    padding-right: 32px;
}

/* Custom modal styels */

.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: .3s linear;
    transform: scale(.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-modal.is-open {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.custom-modal.is-closed {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    padding: 1em 2.5em;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease-in-out;
    transform: translate(-50%, -50%);
}

.custom-modal-container {
    /* min-height: 320px; */
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.custom-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    margin: 8px;
    flex: 1;
    padding: 24px;
}

.custom-modal-close {
    width: fit-content;
    cursor: pointer;
    padding: 4;
    align-self: flex-end;
}

.custom-modal-close:hover {
    background-color: red;
}

.customModalHeader {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.textFeildContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 32px;
    justify-content: flex-start;
}



/* empty state */
.empty-state {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding: 0px 24px;
}

/* loader */

.loading {
    height: 0;
    width: 0;
    padding: 12px;
    border: 4px solid #ccc;
    border-right-color: #3b4eb9;
    border-radius: 22px;
    animation: rotate 1s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

/* ***************************** */

/* Select Board */

select {
    color: black;
    outline: none;
    width: 200px;
    border-radius: 12px;
    border: 1px solid #c5c0c0 !important;
}

/* Task Board */
.board-container {
    padding: 0px 24px 0px 24px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.task-board-button {
    border: none;
    background-color: transparent;
    color: #3f51b5;
    padding: 6px 8px;
    font-weight: 600;
    font-size: 16px;
}

.task-board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
}

.task-board-button-right {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    padding: 24px;
    min-height: 48px;
}

.task-board-button-left {
    font-weight: 600;
    font-size: 20px;
}

.task-board-button:hover {
    background-color: rgba(63, 81, 181, 0.04);
}

/* ************** */


.displayFlexing {
    display: flex;
    align-items: self-end;
    justify-content: space-between;
}


.iconContainerForTaskcard {
    display: flex;
    gap: 12px;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

/* More Menu */
.dropbtn {
    background-color: white;
    border: none;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #eee;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 4px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: red !important;
    text-decoration: none;
    display: block;
    padding: 4px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/*  */

.deleteBoardModal {
    position: relative;
    bottom: 32px;
}